---
# Reboot and wait server to come back, recipe found at:
# https://github.com/ansible/ansible/issues/14413#issuecomment-257887580
- name: reboot
  shell: sleep 2 && systemctl reboot
  async: 1
  poll: 0
  ignore_errors: true
- name: wait for server to come back
  local_action: wait_for
  args:
    host: "{{ inventory_hostname }}"
    port: 22
    state: started
    delay: 30
    timeout: 300
